In [5]:
def round_to_2(x):
    """
    Принимает число и возвращает результат его округления
    до 2 знаков после запятой.
    
    Аргументы:
        x: Число.
        
    Возвращаемое значение:
        Результат округления числа до 2 знаков после запятой.
    """
    
    return round(x, 2)

In [6]:
def custom_compare(x, y):
    if str(x) != str(y):
        raise RuntimeError(f'Ожидаемое значение: {y}. Фактическое: {x}')

# Разбиение строки по разделителю

In [6]:
def split_line(line, sep):
    """
    Возвращает список значений, которые содержатся в строке
    и разделены конкретным разделителем. Если какое-то из значений обособлено
    двойными кавычками, то разделительный символ внутри него не считается разделителем.
    
    Например, если передать в функцию строку 'aa,bb,"cc, oo",dd' и разделитель ',',
    то в результате работы функции получится список ['aa', 'bb', 'cc, oo', 'dd'].
    
    Аргументы:
        line: Строка, которую нужно разбить на подстроки.
         sep: Разделитель, который используется в строке для отделения различных значений.
              Гарантируется, что в качестве разделителя в функцию не будет
              передаваться символ '"' (двойная кавычка).
        
    Возвращаемое значение:
        Список подстрок, которые получаются в результате
        разбиения строки по разделителю.
    """
    if line == '':
        return ['']

    res = []
    text = ''
    count = 0
    while count +1 < len(line):
        if line[count] == line[count+1] == sep:
            res.append(text)
            count +1
        if line[count] != sep and line[count+1] == sep:
            text += line[count]
            res.append(text)
            print(text)
            text = ''
            # count += 1
        if line[count] != sep and line[count+1] != sep:
            text += line[count]
            print(f'1 {text}')
        else: 
            if line[count] == sep and line[count+1] != sep:
                text += line[count+1]
                count +=1
                print(f'2 {text}')
        count += 1
    
    return res

print(split_line('Александр Александрович Александров,,2005,11', ','))

1 А
1 Ал
1 Але
1 Алек
1 Алекс
1 Алекса
1 Алексан
1 Александ
1 Александр
1 Александр
1 Александр А
1 Александр Ал
1 Александр Але
1 Александр Алек
1 Александр Алекс
1 Александр Алекса
1 Александр Алексан
1 Александр Александ
1 Александр Александр
1 Александр Александро
1 Александр Александров
1 Александр Александрови
1 Александр Александрович
1 Александр Александрович
1 Александр Александрович А
1 Александр Александрович Ал
1 Александр Александрович Але
1 Александр Александрович Алек
1 Александр Александрович Алекс
1 Александр Александрович Алекса
1 Александр Александрович Алексан
1 Александр Александрович Александ
1 Александр Александрович Александр
1 Александр Александрович Александро
Александр Александрович Александров
2 2
1 20
1 200
2005
2 1
['Александр Александрович Александров', '', '2005']

In [52]:
def read_split_line_tests():
    example_1_line = 'Александр Александрович Александров,,2005,11'
    example_1_sep = ','
    example_1_res = ['Александр Александрович Александров', '', '2005', '11']
    
    custom_compare(split_line(example_1_line, example_1_sep), example_1_res)
    
    example_2_line = 'Евгений Сергеевич Дёмин;;'
    example_2_sep = ';'
    example_2_res = ['Евгений Сергеевич Дёмин', '', '']
    
    custom_compare(split_line(example_2_line, example_2_sep), example_2_res)
    
    example_3_line = 'Анна Павловна Иванова,"[запись 1, запись 2, запись 3]", ,2'
    example_3_sep = ','
    example_3_res = ['Анна Павловна Иванова', '[запись 1, запись 2, запись 3]', ' ', '2']
    
    custom_compare(split_line(example_3_line, example_3_sep), example_3_res)
    
    print('Все тесты прошли успешно!')

In [53]:
read_split_line_tests()

Александр Александрович Александров
22005

RuntimeError: Ожидаемое значение: ['Александр Александрович Александров', '', '2005', '11']. Фактическое: ['Александр Александрович Александров', '', '22005']

# Чтение csv-файла

In [ ]:
def read_csv_and_calc_mean(lines, sep, column_name):
    """
    Принимает список строк из csv-файла и возвращает среднее значение в заданной колонке.
    Гарантируется, что в первой строке csv-файла всегда представлены названия его колонок.
    
    Аргументы:
        lines: Список строк, прочитанных из csv-файла.
        sep: Разделитель, который используется в строках для отделения различных значений.
        column_name: Название колонки с целочисленными значениями, по которой нужно посчитать среднее.
        
    Возвращаемое значение:
        Среднее значение в заданной колонке, округлённое до 2 знаков
        после запятой с помощью функции round_to_2.
    """
    
    pass

In [ ]:
def read_csv_and_calc_mean_tests():
    example_1_lines = [
        'id,ФИО,Возраст,Город',
        '1,Петров Пётр Петрович,21,Москва',
        '2,Марьина Марина Леонидовна,18,Новороссийск',
        '3,Иванова Елена Ивановна,34,Пермь'
    ]
    example_1_sep = ','
    example_1_column = 'Возраст'
    example_1_res = 24.33
    
    custom_compare(read_csv_and_calc_mean(example_1_lines, example_1_sep, example_1_column), example_1_res)
    
    example_2_lines = [
        'Число реакций,id записи',
        '234,1',
        '361,2',
        '177,3',
        '32,4',
        '670,5'
    ]
    example_2_sep = ','
    example_2_column = 'Число реакций'
    example_2_res = 294.8
    
    custom_compare(read_csv_and_calc_mean(example_2_lines, example_2_sep, example_2_column), example_2_res)
    
    print('Все тесты прошли успешно!')

In [ ]:
read_csv_and_calc_mean_tests()